# Created by https://www.toptal.com/developers/gitignore/api/iarembeddedworkbench
# Edit at https://www.toptal.com/developers/gitignore?templates=iarembeddedworkbench

### IAREmbeddedWorkBench ###
# IAR C-STAT and C-RUN
# Comment this out if you use C-Stat or C-Run to compile/analyze your project
*.ewt

# IAR Debugger files
*.ewd

# IAR Workspace files
*.eww

# IAR Settings
*.crun
*.dbgdt
*.cspy
*.cspy.*
*.xcl
*.dni
*.wsdt
*.wspos

# IAR Debug Exe
**/Debug/Exe/

# IAR Debug List
**/Debug/List

# IAR Debug Obj
*.pbd
*.pbd.*
*.pbi
*.pbi.*

# Log files
**.log

# IAR backup files
Backup*

# IAR .dep files
*.dep

# Compiled Binaries
*.bin
*.elf
*.hex
*.map

# Trash files
*.bak

# End of https://www.toptal.com/developers/gitignore/api/iarembeddedworkbench

# Created by https://www.toptal.com/developers/gitignore/api/iar_ewarm,c
# Edit at https://www.toptal.com/developers/gitignore?templates=iar_ewarm,c

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### IAR_EWARM ###
# gitignore template for the IAR EWARM
# website: https://www.iar.com/knowledge/support/technical-notes/ide/which-files-should-be-version-controlled/

# Some tools will put the EWARM files
# under a subdirectory with the same name
# as the configuration.
# Example
# EWARM/Config1/Obj /List /Exe
# EWARM/Config2/Obj /List /Exe
EWARM/**/Obj
EWARM/**/List
EWARM/**/Exe

# Autogenerated project files
*.dep
*.ewt

# Autogenerated folder for debugger
EWARM/settings

# End of https://www.toptal.com/developers/gitignore/api/iar_ewarm,c

build-BootLoader-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/

# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash

# qtcreator generated files
*.pro.user*
CMakeLists.txt.user*

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio generated files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# MinGW generated files
*.Debug
*.Release

# Python byte code
*.pyc

# Binaries
# --------
*.dll
*.exe

